article pre code .hll { background-color: #6e7681 }
article pre code .c { color: #8B949E; font-style: italic } /* Comment */
article pre code .err { color: #F85149 } /* Error */
article pre code .esc { color: #E6EDF3 } /* Escape */
article pre code .g { color: #E6EDF3 } /* Generic */
article pre code .k { color: #FF7B72 } /* Keyword */
article pre code .l { color: #A5D6FF } /* Literal */
article pre code .n { color: #E6EDF3 } /* Name */
article pre code .o { color: #FF7B72; font-weight: bold } /* Operator */
article pre code .x { color: #E6EDF3 } /* Other */
article pre code .p { color: #E6EDF3 } /* Punctuation */
article pre code .ch { color: #8B949E; font-style: italic } /* Comment.Hashbang */
article pre code .cm { color: #8B949E; font-style: italic } /* Comment.Multiline */
article pre code .cp { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Preproc */
article pre code .cpf { color: #8B949E; font-style: italic } /* Comment.PreprocFile */
article pre code .c1 { color: #8B949E; font-style: italic } /* Comment.Single */
article pre code .cs { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Special */
article pre code .gd { color: #FFA198; background-color: #490202 } /* Generic.Deleted */
article pre code .ge { color: #E6EDF3; font-style: italic } /* Generic.Emph */
article pre code .ges { color: #E6EDF3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
article pre code .gr { color: #FFA198 } /* Generic.Error */
article pre code .gh { color: #79C0FF; font-weight: bold } /* Generic.Heading */
article pre code .gi { color: #56D364; background-color: #0F5323 } /* Generic.Inserted */
article pre code .go { color: #8B949E } /* Generic.Output */
article pre code .gp { color: #8B949E } /* Generic.Prompt */
article pre code .gs { color: #E6EDF3; font-weight: bold } /* Generic.Strong */
article pre code .gu { color: #79C0FF } /* Generic.Subheading */
article pre code .gt { color: #FF7B72 } /* Generic.Traceback */
article pre code .g-Underline { color: #E6EDF3; text-decoration: underline } /* Generic.Underline */
article pre code .kc { color: #79C0FF } /* Keyword.Constant */
article pre code .kd { color: #FF7B72 } /* Keyword.Declaration */
article pre code .kn { color: #FF7B72 } /* Keyword.Namespace */
article pre code .kp { color: #79C0FF } /* Keyword.Pseudo */
article pre code .kr { color: #FF7B72 } /* Keyword.Reserved */
article pre code .kt { color: #FF7B72 } /* Keyword.Type */
article pre code .ld { color: #79C0FF } /* Literal.Date */
article pre code .m { color: #A5D6FF } /* Literal.Number */
article pre code .s { color: #A5D6FF } /* Literal.String */
article pre code .na { color: #E6EDF3 } /* Name.Attribute */
article pre code .nb { color: #E6EDF3 } /* Name.Builtin */
article pre code .nc { color: #F0883E; font-weight: bold } /* Name.Class */
article pre code .no { color: #79C0FF; font-weight: bold } /* Name.Constant */
article pre code .nd { color: #D2A8FF; font-weight: bold } /* Name.Decorator */
article pre code .ni { color: #FFA657 } /* Name.Entity */
article pre code .ne { color: #F0883E; font-weight: bold } /* Name.Exception */
article pre code .nf { color: #D2A8FF; font-weight: bold } /* Name.Function */
article pre code .nl { color: #79C0FF; font-weight: bold } /* Name.Label */
article pre code .nn { color: #FF7B72 } /* Name.Namespace */
article pre code .nx { color: #E6EDF3 } /* Name.Other */
article pre code .py { color: #79C0FF } /* Name.Property */
article pre code .nt { color: #7EE787 } /* Name.Tag */
article pre code .nv { color: #79C0FF } /* Name.Variable */
article pre code .ow { color: #FF7B72; font-weight: bold } /* Operator.Word */
article pre code .pm { color: #E6EDF3 } /* Punctuation.Marker */
article pre code .w { color: #6E7681 } /* Text.Whitespace */
article pre code .mb { color: #A5D6FF } /* Literal.Number.Bin */
article pre code .mf { color: #A5D6FF } /* Literal.Number.Float */
article pre code .mh { color: #A5D6FF } /* Literal.Number.Hex */
article pre code .mi { color: #A5D6FF } /* Literal.Number.Integer */
article pre code .mo { color: #A5D6FF } /* Literal.Number.Oct */
article pre code .sa { color: #79C0FF } /* Literal.String.Affix */
article pre code .sb { color: #A5D6FF } /* Literal.String.Backtick */
article pre code .sc { color: #A5D6FF } /* Literal.String.Char */
article pre code .dl { color: #79C0FF } /* Literal.String.Delimiter */
article pre code .sd { color: #A5D6FF } /* Literal.String.Doc */
article pre code .s2 { color: #A5D6FF } /* Literal.String.Double */
article pre code .se { color: #79C0FF } /* Literal.String.Escape */
article pre code .sh { color: #79C0FF } /* Literal.String.Heredoc */
article pre code .si { color: #A5D6FF } /* Literal.String.Interpol */
article pre code .sx { color: #A5D6FF } /* Literal.String.Other */
article pre code .sr { color: #79C0FF } /* Literal.String.Regex */
article pre code .s1 { color: #A5D6FF } /* Literal.String.Single */
article pre code .ss { color: #A5D6FF } /* Literal.String.Symbol */
article pre code .bp { color: #E6EDF3 } /* Name.Builtin.Pseudo */
article pre code .fm { color: #D2A8FF; font-weight: bold } /* Name.Function.Magic */
article pre code .vc { color: #79C0FF } /* Name.Variable.Class */
article pre code .vg { color: #79C0FF } /* Name.Variable.Global */
article pre code .vi { color: #79C0FF } /* Name.Variable.Instance */
article pre code .vm { color: #79C0FF } /* Name.Variable.Magic */
article pre code .il { color: #A5D6FF } /* Literal.Number.Integer.Long */